.navbar h2{
    float: none;
    text-align: center;
}
.navbar li,
.navbar ul{
    float: none;
}
.navbar ul li a{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px #444 dotted;
}
.history{
    display: none;
}
.content{
    float: none;
    width: 100%;
}
.box{
    float: none;
    width: 100%;
}
.info-left,
.info-right{
    float: none;
    width: 100%;
}
.info-right img{
    display: none;
}
.info-left p, 
.info-left h1{
    text-align: center; 
}
#contact-info .box{
    border-bottom: 1px #444 dotted;
}
.box:first-child {
    margin-top: 2rem;
}
.showcase {
    height: 100vh;
    padding: 10px 10px;
    text-align: center;
}
.content {
    height: 500px;
}
.box:first-child { 
    padding-top: 7rem;
}
.gallery {
    grid-template-columns: 1fr 1fr;
}
#about-info {
    height:500px
}
.gallery {
    grid-template-columns: 1fr;
    margin:500;
}
